 <ion-view title="{{oggi.nomeGiorno}}" hide-back-button="false">

        <ion-nav-buttons side="left">
           <a class="button icon ion-navicon" ui-sref="calendario"></a>
        </ion-nav-buttons> 
        <ion-nav-buttons side="right">
          <a class="button icon ion-stats-bars" ui-sref="listaTicket"></a>
        </ion-nav-buttons> 

        <ion-content>
 
          <br/>
                    <div class="center">
                           
                         <br/>

                        <div ng-hide="hasTicket()" class="centerBigA">
                          <a ng-click="insertTicket()"/> <h1>{{oggi.numeroGiorno}}</h1>
                          <h3>segna ticket</h3>
                          </a>
                        </div>
                        <div ng-show="hasTicket()" class="centerBigD">
                          <a ng-click="removeTicket()"/><h1>{{oggi.numeroGiorno}}</h1>
                          <h3>cancella ticket</h3>
                          </a>

                        </div>
                    </div>

       </ion-content>
  
</ion-view> 
   
    